.github/**
.vscode/**
.vscode-test/**
build/**
out/**
src/**
temp/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
out/tests/**/*
